#content{
	margin-left: 45%;
	background-color: grey;
	width: 200px;
	padding: 20px; 
	text-align: center;
}
*{
	text-align: center;
}
.main{
	width: 200px;
	text-align: center;
	float: right;
	margin-right: 50px;
}
#uploadDiv{
	position: fixed;
	top: 40%;
	left: 40%;
	width: 20%;
	height: 20%;
	background-color: white;
	z-index: 2;
	display: none;
}